<div id="one" class="panel">
<h1>1) USE THEIR "CONTACT YOUR MP" FORM</h1><span id="button" class="button-next"><a href="#">NEXT</a></span>
<p>e.g. "Dear Minister, the Clubs Australia campaign is bullshit.
Please disregard this campaign and act to reduce the impact
of problem gambling on Australia."</p>
</div>
