script(type="text/javascript")
	head.ready(function() {
		console.log("here");
		// play_single_sound('done');
		document.getElementById("casino").play();
	});
#top
	a(href="/auto",class="")
		img(
			src='/images/page2.png'
		)
