<!-- Place this tag where you want the +1 button to render -->
<g:plusone size="tall" annotation="inline"></g:plusone>

<!-- Place this render call where appropriate -->
<script type="text/javascript">
  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>

<!-- Update your html tag to include the itemscope and itemtype attributes -->
<html itemscope itemtype="http://schema.org/Campaign">

<!-- Add the following three tags to your body -->
<span itemprop="name">Call It</span>
<span itemprop="description">Clubs Australia has spent $20 Million on an advertising campaign in an effort to continue making massive revenue from some of society's most vulnerable people - problem gamblers.</span>
<img itemprop="image" src="http://modprods.com/wp-content/themes/modproductions/images/modprods_logo_small.png">
