div(id="one",class="panel")
    h1 2) UPDATE YOUR NETWORKS
    span(id="button",class="button button-next")
        a(href="/auto3",target="_parent") NEXT
    p Update your status, share the story
        br
        "
        i #callbullshit @clubsaustralia @banjosydney @page2comms campaign http://is.gd/callit
        "

