div(id="one",class="panel")
	h1 2) UPDATE YOUR NETWORKS
	span(id="button",class="button-next")
		a(href="/step3") NEXT
	p Update your Twitter, Facebook, Plus status "
		i #callbullshit @clubsaustralia @banjosydney @page2comms campaign http://is.gd/callit
		"

