div(id="one",class="panel")
    h1 2) UPDATE YOUR NETWORKS
    span(id="button",class="button button-next")
        a(href="/auto3",target="_parent",class="audio") NEXT
    p Update your status, share the story
        br
        "
        - if (campaign_url)
            i #callbullshit @clubsaustralia @banjosydney @page2comms campaign #{campaign_url}
        "

