div(id="one",class="panel")
	h1 1) USE THEIR "CONTACT YOUR MP" FORM
	span(
		id="button",
		class="button-next"
	)
		a(
			href="/step2"
		) NEXT
	p Add your comment "
		i Dear Minister, the Clubs Australia campaign is bullshit. Please disregard this campaign and act to reduce the impact of problem gambling on Australia.
		"

