script(type="text/javascript", src="http://platform.twitter.com/widgets.js")
a(
	class='twitter-share-button',
	href="https://twitter.com/share?text=%23callbullshit%20%40clubsaustralia%20%40banjosydney%20%40page2comms%20campaign&url=http://is.gd/callit&count=vertical",
) = Tweet
